:root {
  /* 首页标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    135deg,
    #72edf2 15%,
    #5151e5 100%
  );

  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #5efce8 20%,
    #736efe 100%
  );
  --vp-home-hero-image-filter: blur(80px);
}
